<div id="flash">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for categoty, message in messages %}
        <div class="alert alert-{{categoty}} alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          {{ message }}
        </div>
      {% endfor%}
    {% endif%}
  {% endwith %}
</div>
