<!-- CRUD -->
{% macro crud_actions(view, id, form_delete) %}
  <li class="list-inline-item" title="View"><a href="{{ url_for(view + ':get', id=id) }}"><span class="fa fa-eye btn btn-primary"></span></a></li>
  <li class="list-inline-item" title="Edit"><a href="{{ url_for(view + ':edit', id=id) }}"><span class="fa fa-edit btn btn-warning"></span></a></li>
  <li class="list-inline-item" title="Delete">
    <form action="{{ url_for(view + ':delete', id=id) }}" method="POST">
      {{ form_delete.id() }}
      {{ form_delete.method() }}
      {{ form_delete.csrf_token }}
      <button type="submit" class="fa fa-trash btn btn-danger"></button>
    </form>
  </li>
{% endmacro %}

<!-- Pagination -->
{% macro paginate(view, pagination, query) %}
  <div class="row">
    <div class="col-sm-5">
      <div class="dataTables_info" aria-live="polite">Database count {{ pagination.total }} entries.</div>
    </div>
    <div class="col-sm-7">
      <ul class=pagination>
        {% if pagination.has_prev %}
          <li class="paginate_button previous"><a href="{{ url_for(view + ':index', page=pagination.prev_num, **query) }}">Previous</a></li>
        {% else %}
          <li class="paginate_button previous"><a href="">Previous</a></li>
        {% endif %}

        {% for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
              <li class="paginate_button previous"><a href="{{ url_for(view + ':index', page=page, **query) }}">{{ page }}</a></li>
            {% else %}
              <li class="paginate_button active"><a href="">{{ page }}</a></li>
            {% endif %}
          {% else %}
            <li class="ellipsis"><a href="">...</a></li>
          {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
          <li class="paginate_button next"><a href="{{ url_for(view + ':index', page=pagination.next_num, **query) }}">Next</a></li>
        {% else %}
          <li class="paginate_button next"><a href="">Next</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endmacro %}
