<nav class="navbar navbar-static-top" role="navigation">
  <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
    <span class="sr-only">Toggle navigation</span>
  </a>
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="hidden-xs">{{ current_user.username }}</span>
        </a>
        <ul class="dropdown-menu">
          <li class="user-header">
            <p>
              {{ current_user.username }}
              <small>Member since Nov. 2012</small>
            </p>
          </li>
          <li class="user-footer">
            <div class="pull-left">
              <a href="{{ url_for('AdminView:profile') }}" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
              <a href="{{ url_for('AdminView:logout') }}" class="btn btn-default btn-flat">Log out</a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
