<aside class="main-sidebar" class="col-sm">
  <section class="sidebar" style="height: auto;">
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="treeview">
        <a href="#"><i class="fa fa-users"></i><span>Users</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu" style="display: none;">
          <li class="{{ active('backend_users', request.path) }}"><a href="{{ url_for('BackendUserView:index') }}"><i class="fa fa-user"></i> Backend Users</a></li>
          <li class="{{ active('frontend_users', request.path) }}"><a href="{{ url_for('FrontendUserView:index') }}"><i class="fa fa-user"></i>Frontend Users</a></li>
        </ul>
      </li>
      <!-- TODO fix url_for -->
      <!-- <li class="{{ active('todo1', request.path) }}"><a href="{{ url_for('BackendUserView:index') }}"><i class="fa fa-clipboard"></i><span>TODO 1</span></a> -->
      <!-- <li class="{{ active('todo2', request.path) }}"><a href="{{ url_for('BackendUserView:index') }}"><i class="fa fa-archive"></i><span>TODO 2</span></a> -->
      </li>
  </section>
</aside>
