{% extends "page.html" %}

{% block content %}
<div class="box box-primary">
  <form role="form" action="{{ url_for(view + ':profile') }}" method="POST">
    <div class="box-body">
      {{ form.csrf_token }}
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" value="{{ current_user.username }}" disabled readonly>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" value="{{ current_user.email }}" disabled readonly>
      </div>
      <div class="form-group {{ 'has-error' if form.errors['password'] else '' }}">
        <label>Password</label>
        <input class="form-control" type="password" name="password" placeholder="Password" required>
        {% if form.errors %}
          {% for error in form.errors['password'] %}
            <span class="help-block"> {{ error }}</span>
          {% endfor %}
        {% endif  %}
      </div>
      <div class="form-group {{ 'has-error' if form.errors['password_confirm'] else '' }}">
        <label>Password Confirmed</label>
        <input class="form-control" type="password" name="password_confirm" placeholder="Password Confirmed" required>
        {% if form.errors %}
          {% for error in form.errors['password_confirm'] %}
            <span class="help-block"> {{ error }}</span>
          {% endfor %}
        {% endif  %}
      </div>
    </div>
    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
