{% extends "page.html" %}

{% from 'macros.html' import paginate %}
{% from 'macros.html' import crud_actions %}

{% block content %}

<div class="row">
  <div class="box box">
    <div class="box-header with-border">
      <a href="{{ url_for(view + ':add') }}" title="Add {{ title }}"><span class="fa fa-plus btn btn-success"></span></a>
      <h3 class="box-title centered">{{ title }}</h3>
    </div>
    <table class="table table-condensed table-hover" role="grid">
      <thead>
        <tr>
          <th>#</th>
          <th>id</th>
          <th>Email</th>
          <th>Active</th>
          <th>Verified</th>
          <th>Verification Code</th>
          <th>Created At</th>
          <th>Modified At</th>
          <th>More</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in pagination.items %}
        <tr>
          <td>{{ loop.index + ((pagination.page - 1) * pagination.per_page) }}</td>
          <td>{{ item.id }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.active }}</td>
          <td>{{ item.verified }}</td>
          <td>{{ item.verification_code | substitute }}</td>
          <td>{{ item.created_at | format_date }}</td>
          <td>{{ item.modified_at | format_date }}</td>
          <td>...</td>
          <td class="actions">
            <ul class="list-inline">
              {{ crud_actions(view, item.id, form_delete) }}
              <li title="Add Metadata"><a href="{{ url_for(metadata_view + ':add', id=item.id) }}"><span class="fa fa-plus btn btn-success"></span></a></li>
              <li title="Edit Metadata"><a href="{{ url_for(metadata_view + ':edit', id=item.id) }}"><span class="fa fa-edit btn btn-warning"></span></a></li>
            </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ paginate(view, pagination) }}
  </div>
</div>

{% endblock content %}
