{% extends "page.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4">
    <div class="box box-warning">
      <div class="box-header with-border text-center">
        <a href="{{ url_for('FrontendUserView:index') }}"><i class="fa fa-arrow-left"></i></a>
        <h3 class="box-title">Edit {{ title }}</h3>
      </div>
      <form class="form-horizontal" action="{{ url_for(view + ':edit', id=item.id) }}" method="POST">
        <div class="box-body">
          {{ form.id }}
          {{ form.csrf_token }}
          <div class="form-group {{ 'has-error' if form.errors['email'] else '' }}">
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-7">
              {{ form.email(class="form-control", placeholder="email")}}
              {% if form.errors['email'] %}
                {% for error in form.errors['email'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Verified</label>
            <div class="col-sm-7">
              {{ form.verified(checked=item.verified) }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Accept Tnc</label>
            <div class="col-sm-7">
              {{ form.accept_tnc(checked=item.accept_tnc) }}
            </div>
          </div>
          {% if verification_code %}
          <div class="form-group">
            <label class="col-sm-4 control-label">Verification Code</label>
            <div class="col-sm-8">
              {{ form.verification_code(class="form-control", placeholder="Verification Code")}}
              {% if form.errors['verification_code'] %}
                {% for error in form.errors['verification_code'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-info">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
