{% extends "page.html" %}

{% block content %}

<div class="row col-md-4">
  <div class="box box-success">
    <div class="box-header with-border text-center">
      <a href="{{ url_for('BackendUserView:index') }}"><i class="fa fa-arrow-left"></i></a>
      <h3 class="box-title">Create {{ title }}</h3>
    </div>
    <form class="form-horizontal" action="{{ url_for(view + ':add') }}" method="POST">
      <div class="box-body">
        {{ form.csrf_token }}
        <div class="form-group {{ 'has-error' if form.errors['username'] else '' }}">
          <label class="col-sm-3 control-label">Username</label>
          <div class="col-sm-7">
            {{ form.username(class="form-control", placeholder="username")}}
            {% if form.errors['username'] %}
              {% for error in form.errors['username'] %}
                <span class="help-block"> {{ error }}</span>
              {% endfor %}
            {% endif  %}
          </div>
        </div>
        <div class="form-group {{ 'has-error' if form.errors['email'] else '' }}">
          <label class="col-sm-3 control-label">Email</label>
          <div class="col-sm-7">
            {{ form.email(class="form-control", placeholder="email")}}
            {% if form.errors['email'] %}
              {% for error in form.errors['email'] %}
                <span class="help-block"> {{ error }}</span>
              {% endfor %}
            {% endif  %}
          </div>
        </div>
        <div class="form-group {{ 'has-error' if form.errors['password'] else '' }}">
          <label class="col-sm-3 control-label">Password</label>
          <div class="col-sm-7">
            {{ form.password(class="form-control", placeholder="password")}}
            {% if form.errors['password'] %}
              {% for error in form.errors['password'] %}
                <span class="help-block"> {{ error }}</span>
              {% endfor %}
            {% endif  %}
          </div>
        </div>
        <div class="form-group {{ 'has-error' if form.errors['password_confirm'] else '' }}">
          <label class="col-sm-3 control-label">Password Confirm</label>
          <div class="col-sm-7">
            {{ form.password_confirm(class="form-control", placeholder="password_confirm")}}
            {% if form.errors['password_confirm'] %}
              {% for error in form.errors['password_confirm'] %}
                <span class="help-block"> {{ error }}</span>
              {% endfor %}
            {% endif  %}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Verified</label>
          <div class="col-sm-7">
            {{ form.verified }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Access Level</label>
          <div class="col-sm-7">
            {{ form.access_level(type="number", min=0, max=10, value=0) }}
            {% if form.errors['access_level'] %}
              {% for error in form.errors['access_level'] %}
                <span class="help-block"> {{ error }}</span>
              {% endfor %}
            {% endif  %}
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-info">Create</button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
