{% extends "base.html" %}

{% block base_content %}
  <h1>An unexpected application error has occurred</h1>
  <h2>Error: {{ error_code }} </h2>
  <p>Please check application log!</p>
  <p><a href="/">Home</a>
  <br>
    {% if stack_trace %}
      <div class="alert alert-error">
        {{ stack_trace | replace("\n", "<br>") | safe }}
      </div>
    {% endif%}
{% endblock  base_content %}
